header {
    background-color: rgb(61, 60, 60);
    color: rgb(69, 245, 245);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-wrap: wrap;
}