* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
 --main-blue: rgb(45, 0, 207)
}

header {
    background-image: url(../images/white.jpg);
    color: var(--main-blue);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    margin: 20px;
    font-size: 150%;
    color: var(--main-blue)
}

nav a:hover {
    background-color: var(--main-blue);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}


h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

h3 {
    background-color: white;
}

.container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

img {
    max-height: 200px;
}

.main-project {
    width: 100%;
    min-height: 300px;
    margin: 10px;
    border: 2px solid var(--main-blue);
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

.project {
    border: 2px solid var(--main-blue);
    width: 48%;
    min-height: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.project:first-child {
    flex-basis: 100%;
}

/*Project Section Background Images*/

.project-1 {
    background-image: url("../images/Screenshot1.jpg")
}

.project-2 {
    background-image: url("../images/steel.jpg");
}

.project-3 {
    background-image: url("../images/digital.jpg");
}

.project-4 {
    background-image: url("../images/blue.jpg");
}

.project-5 {
    background-image: url("../images/Books.jpg");
}

.project:hover,
.main-project:hover {
    border: 5px solid limegreen;
}

.contact {
    border: 2px solid black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact a {
    margin: 20px;
    font-size: 150%;
    color: var(--main-blue);
}
.contact a:hover {
    background-color: var(--main-blue);
    color: white;
    padding: 10px;
    border-radius: 5px;
}